body {
    background-color: lightyellow;
    font-family: Verdana, Tahoma, sans-serif;
}

img {
    width: 500px;
    height: auto;
}

.head {
    width: 300px;
    background-color: azure;
    margin: 16px auto;
    text-align: center;
}

.home {
    width: 400px;
    text-align: center;
    background-color: azure;
    padding: 8px, 16px;
    margin: 16px auto;
}